{% extends "../_inc/_base.twig.html" %}
{% block title %}Productos{% endblock %}

{% block content %}
<div class="level">
    <div class="level-left">
        <h2 class="title is-2">
            Mantenimiento Producto
        </h2>
    </div>
    <br>
    <div class="level-ritht">
        <a class="level-item button is-primary" href="producto/nuevo">
            Crear Producto
        </a>
    </div>
</div>

<div class="content">
    <table class="table is-striped is-hoverable is-fullwidth">
        <thead>
            <tr>
                <th>ID</th>
                <th>NOMBRE</th>
                <th colspan="2">ACTION</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>ID</th>
                <th>NOMBRE</th>
                <th colspan="2">ACTION</th>
            </tr>
        </tfoot>
        <tbody>
            {% for producto in productos %}
            <tr>
                <td>{{ producto.getId() }}</td>
                <td>{{ producto.getNombre() }}</td>
                <td>
                    <a href="producto/{{ producto.getId() }}/remover">
                        <span class="icon has-text-danger">
                            <i class="fa fa-trash-o"></i>
                        </span>
                    </a>
                </td>
                <td>
                    <a href="producto/{{ producto.getId() }}/editar">
                        <span class="icon has-text-danger">
                            <i class="fa fa-pencil-square-o"></i>
                        </span>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
